<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=2.0">
        <title>{% block title %}>.<{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <header>
            <a href="/">Ir para Home</a>
            <h1>{{ mensagem }}</h1>
            <a href="/mydocs">Ir para MYDOCS</a>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>
